
body{
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-bg: #1e1e1e;
  --accent-color: #bb86fc;
}


body {
  background-color: var(--bg-color) !important;
  color: var(--text-color)!important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 10px;
} 
